.git
.gitignore

**/__pycache__/
**/*.pyc
**/*.pyo
**/.pytest_cache/

**/node_modules/
**/dist/

backend/venv/
backend/logs/
backend/data/

frontend/node_modules/
frontend-platform/node_modules/
kiosk-frontend/node_modules/
